._container {
  background: var(--background-radiant);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  overflow: hidden !important;
}
._content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 2rem;
  border-radius: 2rem;
  padding: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24 24 27 / 1);
}
/* ._content:before, ._content:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}
._content:after{
  filter: blur(50px);
} */

._content_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  gap: 2rem;
  z-index: 2;
}

._content_grid > a {
  padding: 1rem 2rem;
  border: 3px solid var(--hover-color);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

._content_grid > a:hover {
  background-color: var(--hover-color);
  animation: gradient 15s ease infinite;
  /* opacity: var(--hover-opacity); */
  font-weight: bolder;
  transition: all 0.3s ease;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
  transform: translateY(-0.25em);
}

._title {
  margin: 20px 0px;
  color: var(--text-title);
  font-size: 5rem;
  overflow: hidden;
  white-space: nowrap;
  animation: type 3s steps(21) 2.5s forwards, blink 0.5s steps(1) infinite;
  width: 0;
  border-right: solid 3px #fff;
}

._subtitle {
  color: var(--text-primary);
  font-size: 2.5rem;
}

._contentDescription {
  width: 60%;
  color: var(--text-primary);
  font-size: 1.2rem;
  margin-bottom: 40px;
}

._figure {
  width: 150px;
  height: 150px;
  z-index: 0;
}

._img {
  width: 100%;
  height: auto;
}

._svg {
  position: relative;
  top: 10px;
}

._lastvisit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 10px;
}

._lastvisit > span {
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
}

@keyframes type {
  to {
    width: 60%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
  to {
    border-color: transparent;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* --- Media query --- */

@media (width < 768px) {
  ._content {
    padding: 2rem;
  }

  ._title {
    font-size: 1.75rem;
  }

  ._subtitle {
    font-size: 1.5rem;
  }

  ._contentDescription {
    font-size: 1rem;
    margin: 20px 0px;
    width: 100%;
  }
  ._figure {
    display: none;
  }

  ._content_grid {
    grid-template-columns: 1fr;
    grid-gap: 18px;
    margin: 20px 0px;
  }
  @keyframes type {
    to {
      width: 100%;
    }
  }
}
