/* ._container {
  height: 700px;
  min-height: 100vh;
} */

._title {
  display: flex;
  justify-content: center;
  color: var(--text-primary);
}

._button {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 730px) {
  ._container {
    min-height: auto;
    height: auto;
  }

  ._button {
    justify-content: center;
  }
}
